{% extends 'base.html'%}
{%block content %}
<style>
    .Amain {
        background: #f8f8f8;
        padding: 60px 0;
    }

    #save-address {
        color: #FFD333;
        background-color: #3D464D;
    }

    #save-address:hover {
        background-color: #FFD333;
        color: #3D464D;
    }

    .address-details {
        margin-bottom: 20px;
        padding: 15px;
        background-color: #fff;
    }

    .address-details h3 {
        margin-top: 0;
    }

    .edit-address-link {
        margin-top: 10px;
        display: inline-block;
        color: #00060a;
    }
</style>


<div class="Amain">
    <!-- Address section -->
    <section class="address">
        <div class="container">
            <div class="address-content">
                <div class="address-details">
                    <h3>Current Address</h3>
                    {% if user_address %}
                    <p><strong>Street:</strong> {{ user_address.street }}</p>
                    <p><strong>City:</strong> {{ user_address.city }}</p>
                    <p><strong>State:</strong> {{ user_address.state }}</p>
                    <p><strong>Country:</strong> {{ user_address.country }}</p>
                    <p><strong>Postal Code:</strong> {{ user_address.postal_code }}</p>
                    <a href="/edit-address" class="edit-address-link">Edit Address</a>
                    {% else %}
                    <p>No address found.</p>

                    <a href="edit_address" class="edit-address-link">
                        <i class="fas fa-plus"></i>Add Address</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
</div>
{%endblock%}