{% extends 'base.html'%}
{% load static %}
{%block content %}
<style>
    .Amain{
        background: #f8f8f8;
        padding: 60px 0;
    }
    #save-address{
        color: #FFD333;
        background-color: #3D464D;
    }
    #save-address:hover{
        background-color: #FFD333;
        color: #3D464D;
        margin-bottom: 5px;
    }
</style>
    <div class="Amain">
        <!-- Address form -->
        <section class="address">
            <div class="container">
                <div class="address-content">
                    <div class="address-form">
                        <h2 class="form-title">Add Address</h2>
                        <form method="POST" class="address-form" id="address-form" action="/address">
                            {% csrf_token %}
                            <!-- Street -->
                            <div class="form-group">
                                <!-- <label for="street"><i class="zmdi zmdi-home"></i></label> -->
                                <input type="text" name="street" id="street" placeholder="Street" class="form-control"/>
                            </div>
                            <!-- City -->
                            <div class="form-group">
                                <!-- <label for="city"><i class="zmdi zmdi-city"></i></label> -->
                                <input type="text" name="city" id="city" placeholder="City" class="form-control"/>
                            </div>
                            <!-- State -->
                            <div class="form-group ">
                                <!-- <label for="state"><i class="zmdi zmdi-flag"></i></label> -->
                                <select name="state" id="state" class="form-control" style="border: none;
                                border-bottom: 1px solid #999;">
                                    <option value=""> Select State</option>
                                    {% for state in states %}
                                    <option value="{{ state }}">{{ state }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <!-- <label for="country"><i class="zmdi zmdi-globe"></i></label> -->
                                <input type="text" name="country" id="country" placeholder="Country" class="form-control"/>
                            </div>
                            <!-- Postal Code -->
                            <div class="form-group">
                                <!-- <label for="postal_code"><i class="zmdi zmdi-mailbox"></i></label> -->
                                <input type="text" name="postal_code" id="postal_code" placeholder="Postal Code" class="form-control"/>
                            </div>
                            <!-- Submit Button -->
                            <div class="form-group form-button">
                                <input type="submit" name="save-address" id="save-address" class="form-submit" value="Save Address"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>


    {%endblock%}

    